In [1]:
print(5+2)

7

In [3]:
print(5-2)

3

In [5]:
print(5*2)

10

In [7]:
print(10/2)

5.0

In [9]:
print(3**3)

27

In [11]:
print(((1+3)*(9-2)/2)**2)

196.0

In [13]:
num1=5
num2=4
print(num1+num2)

9

In [15]:
num1=10
print(num1)

num1=5
print(num1)

num1=num1+50
print(num1)

10
5
55

In [17]:
print(num1)
print(num2)

55
4

In [29]:
# Create variables
num_years=4
days_per_year=365
hours_per_day=24
mins_per_hour=60
secs_per_min=60

# Calculate number of seconds in four years
total_secs= secs_per_min*mins_per_hour*hours_per_day*days_per_year*num_years
print(total_secs)

126144000

In [33]:
# Update to include leap years
days_per_year=365.25

# Calculate number of seconds in four years
total_secs=secs_per_min*mins_per_hour*hours_per_day*days_per_year*num_years
print(total_secs)

126230400.0

In [35]:
print(hours_per_day)

24

In [37]:
print("Nourin Alam Nupur")

Nourin Alam Nupur

In [39]:
# Comment

In [43]:
# Create variable
hours_per_day=24
accidents_per_hour=15

# Calculate accident per day
accidents_per_day=hours_per_day*accidents_per_hour
print(accidents_per_day)

360

In [45]:
def add(n1,n2):
    total=n1+n2
    return total

In [47]:
num1=5
num2=10
sum=add(num1,num2)
print(sum)

sum=add(3,2)
print(sum)

sum=add(5,5)
print(sum)

15
5
10

In [1]:
def get_pay(num_hours):
    #pre-tax pay,based on receving BDT 2000/hours
    pay_pretax=num_hours*2000
    #after-tax pay,based on being in 12% tax bracket
    pay_aftertax=pay_pretax*(1-.12)
    return pay_aftertax

In [3]:
payment=get_pay(80)
print(payment)

140800.0

In [5]:
print(f"You will get {payment} BDT")

You will get 140800.0 BDT

In [29]:
def get_expected_cost(beds,baths):
    cost=80000+beds*30000+baths*10000
    return cost


house1=get_expected_cost(2,1)
print(house1)

150000

In [31]:
print(f"your cost will be{house1} BDT")

your cost will be150000 BDT

In [7]:
def get_pay_with_more_inputs(num_hours,hourly_wage,tax_bracket):
    # Pre-tax pay
    pay_pretax= num_hours*hourly_wage
    #After-tax pay
    pay_aftertax=pay_pretax*(1-tax_bracket/100)
    return pay_aftertax

In [19]:
bill=get_pay_with_more_inputs(80, 2000, 12)
print(bill)

140800.0

In [55]:
import math

def get_cost(sqft_walls,sqft_ceiling,sqft_per_gallon,cost_per_gallon):
    cost=math.ceil((sqft_walls+sqft_ceiling)/sqft_per_gallon)*cost_per_gallon
    
    return cost

In [59]:
print(cost)

30

In [61]:
x=5
print(x)
print(type(x))

5
<class 'int'>

In [63]:
x=3.434224123
print(x)
print(type(x))

3.434224123
<class 'float'>

In [67]:
almost_pi=22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [71]:
z_one=True
print(z_one)
print(type(z_one))

z_two=False
print(z_two)
print(type(z_two))

True
<class 'bool'>
False
<class 'bool'>

In [73]:
my_number=1
print(my_number)
print(type(my_number))

1
<class 'int'>

In [75]:
also_my_number=float(my_number)
print(also_my_number)
print(type(also_my_number))

1.0
<class 'float'>

In [77]:
my_number=1.234
print(my_number)
print(type(my_number))

1.234
<class 'float'>

In [81]:
also_my_number=int(my_number)
print(also_my_number)
print(type(also_my_number))

1
<class 'int'>

In [91]:
a=5
d=-6
e="4"
b= True
c=False 
print(a*b)
print(type(a*b))
print(a*c)
print(type(a*c))
print(d*b)
print(type(d*b))
print(d*c)
print(type(d*c))
print(e*b)
print(type(e*b))
print(e*c)
print(type(e*c))

5
<class 'int'>
0
<class 'int'>
-6
<class 'int'>
0
<class 'int'>
4
<class 'str'>

<class 'str'>

In [3]:
def cost_of_project(engraving, solid_gold):
    
    base_cost=100 if solid_gold else 50
    
    engraving_cost_per_unit=10 if solid_gold else 7
    
    total_cost=base_cost+len(engraving)*engraving_cost_per_unit
    
    return total_cost

In [5]:
project_one = cost_of_project("M+P",True)
print(project_one)

130

In [35]:
def cost_of_project(engraving,solid_gold):
    solid_gold= True
    not_solid_gold=False
    cost=solid_gold*(100+len(engraving)*10)+not_solid_gold*(50+len(engraving)*7)
    return cost

In [31]:
project_one = cost_of_project("Tonoy",True)
print(project_one)

150

In [43]:
def cost_of_project(engraving,solid_gold):
    solid_gold=False
    not_solid_gold=True
    cost=solid_gold*(100+len(engraving)*10)+not_solid_gold*(50+len(engraving)*7)
    return cost

In [45]:
project_one = cost_of_project("Tonoy",True)
print(project_one)

85

In [47]:
print("you have got A+")
print("you have got A")

you have got A+
you have got A

In [53]:
marks=87
if marks >=80:
    print("you have got A+")

you have got A+

In [55]:
marks=78

if marks>=80:
    print("you have got A+")
else:
    print("you have got A")

you have got A

In [57]:
marks=78
if marks>=80:
    print("you have got A+")
elif marks>=75:
        print("you have got A")
elif marks>=70:
    print("you have got A-")
elif marks>=65:
    print("you have got B+")
elif marks>=60:
    print("you have got B")
elif marks>=55:
    print("you have got B-")
elif marks>=50:
    print("you have got C+")
elif marks>=45:
    print("you have got C")
elif marks>=40:
    print("you have got D")
else: 
    print("you have got F")

you have got A

In [75]:
marks=112
if marks>=80 and marks<=100:
    print("you have got A+")
elif marks>=75 and marks<=79:
        print("you have got A")
elif marks>=70 and marks<=74:
    print("you have got A-")
elif marks>=65 and marks<=69:
    print("you have got B+")
elif marks>=60 and marks<=64:
    print("you have got B")
elif marks>=55 and marks<=59:
    print("you have got B-")
elif marks>=50 and marks<=54:
    print("you have got C+")
elif marks>=45 and marks<=48:
    print("you have got C")
elif marks>=40 and marks<=44:
    print("you have got D")
elif marks>=0 and marks<=39:
    print("you have got F")
else:
    print("you have got invalid")

you have got invalid

In [3]:
def cost_of_project(engraving,solid_gold):
    if solid_gold==True:
    cost=100+len(engraving)*10
    else:
    cost=50+len(engraving)*7)

    return cost

SyntaxError: unmatched ')' (1285978695.py, line 5)

In [23]:
def cost_of_project(engraving,solid_gold):
    if solid_gold== True:
        cost= solid_gold*(100+len(engraving)*10) 
    else:
        cost= (50+len(engraving)*7)
    return cost

In [25]:
project_one = cost_of_project("Tonoy",True)
print(project_one)

150

In [54]:
def get_water_bill(num_of_gallon):
    if  num_of_gallon>=30001:
       cost = 10*(num_of_gallon/1000)
    elif   num_of_gallon>=22001:
          cost= 7*(num_of_gallon/1000)
    
    elif num_of_gallon>=8001:
        cost= 6*(num_of_gallon/1000)

    else:
        cost = 5*(num_of_gallon/1000)
   
    return cost

In [62]:
print(get_water_bill(10000))

60.0

In [5]:
students_list=["Nupur","Samiha","Jeba","Ridita"]

print(students_list)

['Nupur', 'Samiha', 'Jeba', 'Ridita']

In [7]:
print(type(students_list))
print(len(students_list))

<class 'list'>
4

In [11]:
print("First Entry:",students_list[0])

First Entry: Nupur

In [13]:
print("First Entry:",students_list[-3])

First Entry: Samiha

In [15]:
print("First two Entry:",students_list[:2])
print(students_list[1:3])
print("Last two Entry:",students_list[-2:])

First two Entry: ['Nupur', 'Samiha']
['Samiha', 'Jeba']
Last two Entry: ['Jeba', 'Ridita']

In [17]:
print("",students_list[-3:-1])

 ['Samiha', 'Jeba']

In [25]:
students_list=["Nupur","Samiha","Jeba","Ridita"]
students_list.remove("Nupur")

In [27]:
menu=['stewed meat with onions','bean soup','risotto with trout and shrimp','fish soup','gryo']
menu.remove('bean soup')
menu.append('roasted beet salad')
print(menu)

['stewed meat with onions', 'risotto with trout and shrimp', 'fish soup', 'gryo', 'roasted beet salad']

In [31]:
num_customers=[137,147,135,128,170,174,165,146,126,159,141,148,132,147,168,153,170,161,148,152,141,151,131,149,164,163,143,143,166,171]
cust_first_seven=[137,147,135,128,170,174,165]
sum_first_seven=sum(cust_first_seven)
avg_first_seven=sum_first_seven/7
print(avg_first_seven)

150.85714285714286

In [35]:
num_customers=[137,147,135,128,170,174,165,146,126,159,141,148,132,147,168,153,170,161,148,152,141,151,131,149,164,163,143,143,166,171]
avg_first_seven=sum(num_customers[:7])/len(num_customers[:7])
print(avg_first_seven)

150.85714285714286

In [41]:
avg_last_seven=sum(num_customers[-7:])/len(num_customers[-7:])
print(avg_last_seven)

157.0

In [47]:
max_month=max(num_customers)
min_month=min(num_customers)
print(max_month)
print(min_month)

174
126

In [7]:
students_list=("Nupur,Samiha,Jeba,Ridita")
mylist=students_list.split(",")
print(mylist)
print(type(mylist))
print(len(mylist))

['Nupur', 'Samiha', 'Jeba', 'Ridita']
<class 'list'>
4

In [9]:
alphabate=("A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z")
address="Mr.H.Potter,The cupboard under the Strars,4 private Drive,Little Whinging,Surrey"

letters=alphabate.split(".")
print(letters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [13]:
formated_address=address.split(",")
print(formated_address)

['Mr.H.Potter', 'The cupboard under the Strars', '4 private Drive', 'Little Whinging', 'Surrey']

In [5]:
def percentage_growth(num_users,yrs_ago):
    
    previous_year_users = num_users[-1 - yrs_ago]
    current_year_users = num_users[-1]
    growth = (current_year_users - previous_year_users) / previous_year_users*100
    return growth

num_users = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]
yrs_ago = 1
print("Growth percentage:", percentage_growth(num_users, yrs_ago))

#  example with 7 years ago:
yrs_ago = 7
print("Growth percentage:", percentage_growth(num_users, yrs_ago))

Growth percentage: 3.629533421163837
Growth percentage: 66.15639847417742

In [13]:
x=3
y=3
z=x+y
z

6

In [1]:
 planets=['mercury','venus','Earth','Mars','Jupiter']
for planet in planets:
    print(planet)

mercury
venus
Earth
Mars
Jupiter

In [3]:
s='stegonograpHy is the practicE of conceaLing a File,message,image,or video within anotheR'
for char in s:
    if char.isupper():
        print(char)

H
E
L
F
R

In [11]:
for i in range(10):
    print("Doing important work=",i)

Doing important work= 0
Doing important work= 1
Doing important work= 2
Doing important work= 3
Doing important work= 4
Doing important work= 5
Doing important work= 6
Doing important work= 7
Doing important work= 8
Doing important work= 9

In [13]:
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [15]:
squares=[n**2 for n in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [17]:
squares=[n**2 for n in range(100)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [24]:
x='pluto is a planet'
y="pluto is a planet"
x==y

True

In [28]:
heloo="hello\nworld"
print(heloo)

hello
world

In [30]:
hellow="""hello
world"""
print(hellow)

hello
world

In [32]:
heloo==hellow

True

In [36]:
print("hello")
print("world")
print("hello",end='$')
print("pluto")

hello
world
hello$pluto

In [40]:
#indexing
planet='pluto'
planet[1]

'l'

In [42]:
len(planet)

5

In [44]:
claim= 'my name is nupur'
claim.upper()

'MY NAME IS NUPUR'

In [56]:
claim.index(' ')

2

In [58]:
words=claim.split()
words

['my', 'name', 'is', 'nupur']

In [62]:
date='1998-04-07'
year,month,day=date.split('-')
print(f"Year:{year} Month:{month} Day:{day}")

Year:1998 Month:04 Day:07

In [64]:
'/'.join([day,month,year])

'07/04/1998'

In [66]:
divider='-'
session='16'
semester='02'
depertment='01'
id='034'
divider.join([session,semester,depertment,id])

'16-02-01-034'

In [68]:
numbers={'one':1,'two':2,'three':3}

In [70]:
numbers['one']

1

In [72]:
numbers['eleven']=11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [74]:
numbers['one']='Nupur'
numbers

{'one': 'Nupur', 'two': 2, 'three': 3, 'eleven': 11}

In [76]:
print('one' in numbers)
print('ten' in numbers)

True
False

In [84]:
for k in numbers:
    print(f"{k}={numbers[k]}")

one=Nupur
two=2
three=3
eleven=11

In [88]:
print(numbers.keys())
print(numbers.values())

dict_keys(['one', 'two', 'three', 'eleven'])
dict_values(['Nupur', 2, 3, 11])

In [90]:
import math as mt
mt.pi

3.141592653589793

In [92]:
from math import *
print(pi) 
print(log(32,2))

3.141592653589793
5.0